<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Gallery Page</title>
    </head>
    <body>
        <table>
            {{range . }}
            <tr>
                <td>
			        <p><a href="/picture/{{.Id}}">
				        <input type="image" name="ctl03" title="{{.Name}}" src="{{.RedPath}}"/>
			        </a></p>
		        </td>
            </tr>
            {{end}}
        </table><br><br>
        <a href="/">Return to main page</a>
    </body>
</html>