<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Main Page</title>
    </head>
    <body>
        <table>
            <thead><th>Id</th><th>Gallery Number</th><th>Description</th><th>Action</th></thead>
            {{range . }}
            <tr>
                <td>{{.Id}}</td>
                <td>{{.Number}}</td>
                <td>{{.Description}}</td>
		        <td><td><a href="/gallery/{{.Id}}">Open</a></td>
            </tr>
            {{end}}
        </table>
    </body>
</html>