<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Picture Page</title>
    </head>
    <body>
    	<input type="image" name="ctl03" title="{{.Name}}" src="{{.FullPath}}"/><br>
        <a href="/">Return to main page</a><br>
        <a href="/gallery/{{.IdGal}}">Return to gallery</a>
    </body>
</html>